

body {
  font-size:              5mm;
  font-family:            "sunflower-u-cjk-xa-centered", serif; }

article {
  break-inside:           avoid; }

swaps {
  display:                block;
  break-inside:           avoid;
  columns:                4; }

del,
ins {
  padding:                0.5mm;
  text-decoration:        none; }

del {
  background-color:       pink; }

ins {
  background-color:       #9af4f3; }

